<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="token" class="jp.eisbahn.oauth2.server.endpoint.ProtectedResource">
    <property name="accessTokenFetcherProvider" ref="accessTokenFetcherProvider" />
    <property name="dataHandlerFactory" ref="dataHandlerFactory" />
  </bean>
  
  <bean id="accessTokenFetcherProvider"
        class="jp.eisbahn.oauth2.server.fetcher.accesstoken.AccessTokenFetcherProvider">
    <property name="accessTokenFetchers">
      <list>
        <bean class="jp.eisbahn.oauth2.server.fetcher.accesstoken.impl.AuthHeader" />
        <bean class="jp.eisbahn.oauth2.server.fetcher.accesstoken.impl.RequestParameter" />
      </list>
    </property>
  </bean>
  
  <bean id="dataHandlerFactory"
        class="jp.eisbahn.oauth2.server.integration.DummyDataHandlerFactoryImpl">
  </bean>
  
</beans>